/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url("https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap");



html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root{
  height: 100vh;
  margin: 0;
}
select{
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
/* can add button to here button, */
body, input, textarea{
  
  font-size: 1.8rem;
  font-family: cursive, Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

/* all links */
a:hover{
  color:#f2a65a;

}

/* PAGE */
header{
  grid-area:header;
  background-color: #772f1a;
  color:white;
  display:flex;
  align-items:center;
  padding: .5rem;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: flex-end;
}
header a{
  color:white;
  text-decoration: none;
}

main{
  grid-area: main;
  /* background-image: url("/images/bgimg.png"); */

}
footer{
  grid-area:footer;
  /* background-color: #772f1a; */
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial, Helvetica, sans-serif;
  border-top: solid #A0522D 10px;
  margin-top:50px;
  bottom:0;
  
}


/* SIDEBAR */
.content{
  display: flex;
  flex-wrap: wrap;
}
.main{
  flex: 3 60rem;
}
.sidebar{
  flex: 1 20rem;
}


/* IMAGE */
.product img{
  height: 300px;
  width: 300px;
  border-radius:100%;
}

/* products */
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.products{
  background-color: rgba(255, 255, 255, 0.137);
}
.products li{
  flex: 0 1 29rem;
  height: 47rem;
  padding: 2.5rem;
  /* margin: 1rem; */
}
div .product{
  background-color: rgba(160, 81, 45, 0.400);
  border-radius: 14.5rem;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
 
}
.products p {
  font-weight:bolder;
  font-size: 20px;
  display:flex;
  justify-content: center;
}
/* .product img{
max-width: 37rem;
max-height: 37rem;
} */
.product-description{
  color: #A0522D;
}
.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}
.product-price div{
  font-size: 2.3rem;
  background-color: #f2a65a;
  border-radius: 3rem;
  color: white;
}
.button{
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f2a65a;
  color: white;
  border-radius:10rem;

}
.button:hover{
  border: 0.1rem white solid;
  cursor:pointer;
  box-shadow: 0 0 5px #f2a65a, 0 0 10px #f2a65a;
}
.button.primary{
  background-color:#772f1a ;
}


/* FILTER STYLING */
.filter{
  display:flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #f2a65a solid;
}

.filter div{
  flex:1;
}

/* CART STYLING */
.cart{
padding: 1rem;
margin: 1rem;
display:flex;
background-color:rgba(255, 255, 255, 0.137);
}
.cart-header{
  border-bottom: 0.1rem #f2a65a solid;
  background-color: white;

}
.cart-items{
  padding:0;
  width:100%;
  list-style-type: none;
}
.cart-items li{
  display:flex;
}
.cart-items li div{
  padding: .5rem;
}
.cart-items li div:last-child{
  flex: 1;
}
.cart-items img{
  height:100px;
  width:100px;
  border-radius:100%;
  width:5 rem;
}
.right-align{
  text-align: right;
}
.total{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.total > div{
  font-size: 2rem;
}
.total > div, .total > button{
flex:1;
}



/*footer + content*/


footer .footer__area{
  border-top:none;
}

.footer__area {
  display: flex;
  justify-content:space-between;
  align-items:center;
  /* background-color: #0e0906; */
  padding:0px 20px;
  /* bottom: 0px; */
  width: 100%;
  /* height: 100px; */
  /* margin: 0 auto; */
  margin-top:69px;
}
.footer__area--icons{
  display: flex;
  list-style-type: none;
}
.footer__area--copyright{
 display:block;
 color:#A0522D ;
 font-weight:bolder;
}
/* .icon__facebook, .icon__youtube, .icon__instagram, .icon__twitter{
 height:40px;
 width:40px;
} */
.icon__facebook:hover, .icon__youtube:hover, .icon__instagram:hover, .icon__twitter:hover {
  color: #A0522D ;
  box-shadow: 0 0 5px #f2a65a, 0 0 10px #A0522D;
}

footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  
}

footer li {
   float:right;
   
}

footer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 60px;
  text-decoration: none;
  
}

footer li a.active {
  color: white;
  background-color: #A0522D;
}


@media only screen and (min-width: 800px) {

/*footer + content*/
/* .footer__area{
    max-width:100px;
     
} */
.footer__area--icons{
  margin:0px 20px 0px 10px;
}
footer li a{
  padding: 10px 20px;
  margin: 2px;
}
}
@media only screen and (max-width: 800px) {
.icon__facebook, .icon__youtube, .icon__instagram, .icon__twitter{
  height:30px;
  width:30px;
}

.footer__area--resize{
  display:flex;
  justify-content: center;
}
footer li a{
  padding: 10px 20px;
  margin: 2px;
}

.footer__area--copyright{
    text-align: center;
}
}


/* NAVBAR */
.navigation{
  display:flex;
  flex-direction: row;
  justify-content: center;
  /* background-image: $linear; */
  /* height:60px; */
  list-style-type: none;
  margin: auto;
  max-width: 100%;
  padding:0 20px;
  font-size: 20px;
}
.navigation__area {
  list-style-type: none;
  display: inline-block;
  display: flex;
  flex-direction: row;
  color:#FFDEAD;
  
}

.active {
  display: block;
}

nav ul {
list-style-type: none;
margin: 0px;
padding: 0px;


}

nav li {
 float:right;
 
}

nav li a {
display: block;
color: white;
text-align: center;
padding: 13px 100px;
text-decoration: none;

}


nav li a.active {
color: white;
background-color: #A0522D;
}


@media only screen and (max-width: 800px) {
nav li a{
  padding: 15px 35px;
}
.navigation{
  font-size: 15px;
}
}

/* HERO */
.showcase{
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/images/hero_cookie.jpg) no-repeat center center/cover ; 
  height: auto;
  padding-top:110px;
  padding-bottom: 80px;
  display:flex;
  flex-direction: column;
}
 .showcase__title--product{
  text-align: center;
  justify-content: center;
  align-items:center;
  width: 100%;
  height:40px;
  color:white;
  font-size:60px; 
}


/* TESTING STUFF */
.cart{
  background-color:rgba(160, 81, 45, 0.459);
  border-radius: 10%;
  color:white;
  font-weight: bolder;
}

/* SIDEBAR GIF IMAGES */
div .sidebar{
  background:url("https://www.bt21.com/im/character/family_friends/mustashu.gif") no-repeat top center, 
  url("https://thumbs.gfycat.com/ChubbyTartGrayling-max-1mb.gif") no-repeat bottom,
   url("https://pa1.narvii.com/6843/589bd950b4ecce546c381c9b09b2a248d6662744_00.gif") no-repeat center;
  /* background:url("https://pa1.narvii.com/6843/589bd950b4ecce546c381c9b09b2a248d6662744_00.gif") no-repeat ; */
}
@media only screen and (max-width: 800px) {
div .sidebar{
  background:url("https://www.bt21.com/im/character/family_friends/crunchy.gif") no-repeat center;

}
}

.nav-container{
  display: flex;
  align-items: center;
}

/* LOGO */
.logo{
  background:#f2a65a;
  width: 6rem;
  height:6rem;
  padding:0 20px;
  border-bottom:1px solid #A0522D;

}
@media only screen and (max-width: 800px) {
header img{
  width: 5rem;
  height:5rem;
  margin-right:10rem;
}
}